<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="w-full h-screen">
      <div class="max-w-[1000px] mx-auto h-full">
        <nav class="border-b-2 border-gray-700 flex items-center py-[25px]">
          <a class="ml-5 md:ml-0">
            <img
              src="../static/img/Logo.png"
              alt="logo"
              class="rounded-md w-[50px] md:w-[75px] bg-white"
            />
          </a>
          <h1
            class="w-full flex justify-center text-2xl md:text-3xl text-blue-500 font-bold"
          >
            STROKE PREDICTION
          </h1>
        </nav>
        <div class="flex flex-col justify-center gap-5 text-white py-[40px] md:px-0 px-[30px]">
          <p class="font-semibold text-gray-300">
            <span class="text-xl text-white">
              Welcome and please check your stroke disease to get safe!
            </span>
            <br />
            <span class="italic">
              We will calculating your possibility about stroke risk, we are
              using machine learning technology to guarantee the accuracy
            </span>
          </p>

          <div class="flex flex-col md:flex-row justify-between items-center gap-5 py-5">
            <div class="max-w-7xl mx-auto">
              <div class="relative group">
                <div
                  class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-blue-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
                ></div>
                <div
                  class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6"
                >
                  <img
                    src="../static/img/stroke1.jpg"
                    alt="stroke_1"
                    class="object-cover object-center self-center w-full h-full rounded-md"
                  />
                </div>
              </div>
            </div>

            <div class="max-w-7xl mx-auto">
              <div class="relative group">
                <div
                  class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-blue-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
                ></div>
                <div
                  class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6"
                >
                  <img
                    src="../static/img/stroke2.jpg"
                    alt="stroke_2"
                    class="object-cover object-center self-center w-full h-full rounded-md"
                  />
                </div>
              </div>
            </div>

            <div class="max-w-7xl mx-auto">
              <div class="relative group">
                <div
                  class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-blue-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
                ></div>
                <div
                  class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6"
                >
                  <img
                    src="../static/img/stroke3.webp"
                    alt="stroke_3"
                    class="object-cover object-center self-center w-full h-full rounded-md"
                  />
                </div>
              </div>
            </div>

            <div class="max-w-7xl mx-auto">
              <div class="relative group">
                <div
                  class="absolute -inset-1 bg-gradient-to-r from-purple-600 to-blue-600 rounded-lg blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
                ></div>
                <div
                  class="relative px-7 py-6 bg-white ring-1 ring-gray-900/5 rounded-lg leading-none flex items-top justify-start space-x-6"
                >
                  <img
                    src="../static/img/stroke4.png"
                    alt="stroke_4"
                    class="object-cover object-center self-center w-full h-full rounded-md"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-2 justify-center items-center mt-3">
            <a
              href="/form"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-bold rounded-lg text-base px-10 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >
              Check
            </a>
            <div class="flex gap-5 justify-center text-center items-center">
              <HiMail class="w-full h-10" />
              <span>
                If you have a question, you can contact our
                <a
                  href="mailto:dewasembiring1@gmail.com"
                  class="text-blue-500 underline"
                >
                  email
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
